<p-card
  header="Monthly Bonuses ({{ totalBonus | currency }})"
  *ngIf="monthlyBonusModel"
>
  <p class="m-0">
    <b>Personal Bonus:</b> {{ monthlyBonusModel.personalBonus | currency }}
  </p>
  <p class="m-0">
    <b>Group Bonus:</b> {{ monthlyBonusModel.groupBonus | currency }}
  </p>
  <p class="m-0" *ngIf="monthlyBonusModel.carBonus">
    <b>Car Bonus:</b> {{ monthlyBonusModel.carBonus | currency }}
  </p>
  <p class="m-0" *ngIf="monthlyBonusModel.leadershipBonusArr.length > 0">
    <b>Leadership Bonus:</b>
    {{ monthlyBonusModel.leadershipBonusArr | sum | currency }}
    <button
      pButton
      type="button"
      icon="pi pi-info-circle"
      class="p-button-text p-button-sm p-button-rounded"
      (click)="openLeadershipDialog()"
      pTooltip="View generation details"
    ></button>
  </p>
</p-card>

<p-dialog
  header="Leadership Bonus Details"
  [(visible)]="showLeadershipDialog"
  [modal]="true"
  [style]="{ width: '600px' }"
  [dismissableMask]="true"
>
  <p class="text-sm text-color-secondary mb-3">
    LGV = Leadership Group Volume (FIs at 18%, 22%, 25%) cumulative.<br>
    Bonus = (LGV Gen N - LGV Gen N+1) × Percentage
  </p>
  
  <p-table 
    [value]="activeLeadershipDetails" 
    styleClass="p-datatable-sm"
    dataKey="generation"
  >
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem"></th>
        <th>Gen</th>
        <th>%</th>
        <th class="text-right">LGV</th>
        <th class="text-right">Differential</th>
        <th class="text-right">Amount</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-detail let-expanded="expanded">
      <tr>
        <td>
          <button 
            *ngIf="detail.fis.length > 0"
            type="button" 
            pButton 
            pRipple 
            class="p-button-text p-button-rounded p-button-plain p-button-sm"
            [icon]="selectedGeneration === detail ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            (click)="selectGeneration(detail)"
          ></button>
        </td>
        <td>Gen {{ detail.generation }}</td>
        <td>{{ detail.percentage }}%</td>
        <td class="text-right">{{ detail.lgv | number:'1.0-2' }}</td>
        <td class="text-right">{{ detail.differentialLgv | number:'1.0-2' }}</td>
        <td class="text-right">{{ detail.amount | currency }}</td>
      </tr>
      <tr *ngIf="selectedGeneration === detail && detail.fis.length > 0">
        <td colspan="6" class="p-0">
          <div class="p-3 surface-100">
            <p class="mt-0 mb-2 font-semibold text-sm">Qualifying FIs in Generation {{ detail.generation }}:</p>
            <p-table [value]="detail.fis" styleClass="p-datatable-sm">
              <ng-template pTemplate="header">
                <tr>
                  <th>Name</th>
                  <th>Bonus</th>
                  <th class="text-right">GV</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-fi>
                <tr>
                  <td>{{ fi.name }}</td>
                  <td>{{ fi.bonification }}%</td>
                  <td class="text-right">{{ fi.gv | number:'1.0-2' }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="footer">
                <tr>
                  <td colspan="2"><b>Total GV Gen {{ detail.generation }}</b></td>
                  <td class="text-right"><b>{{ detail.differentialLgv | number:'1.0-2' }}</b></td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="5"><b>Total Leadership Bonus</b></td>
        <td class="text-right"><b>{{ getTotalLeadershipBonus() | currency }}</b></td>
      </tr>
    </ng-template>
  </p-table>
</p-dialog>
