<br />
<p-confirmDialog [style]="{width: '30vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<p-button (click)="showDialog()" label="Nueva simulación" [disabled]="!enableAddButton"></p-button>
<br />

<div class="card">
  <p-table [value]="simulations" dataKey="id" [tableStyle]="{'min-width': '60rem'}">
    <ng-template pTemplate="caption">Simulaciones</ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="name">Nombre <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="title">Título <p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="groupVolume">Volumen Grupal <p-sortIcon field="groupVolume"></p-sortIcon></th>
        <th pSortableColumn="sidePoints">Puntos Laterales <p-sortIcon field="sidePoints"></p-sortIcon>
        </th>
        <th pSortableColumn="totalBonus">Bono Mensual <p-sortIcon field="totalBonus"></p-sortIcon></th>
        <th pSortableColumn="creationDate">Fecha Creación <p-sortIcon field="creationDate"></p-sortIcon>
        </th>
        <th pSortableColumn="lastUpdateDate">Última Modificación <p-sortIcon field="lastUpdateDate"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-simulation let-expanded="expanded">
      <tr>
        <td>
          <button type="button" pButton pRipple [pRowToggler]="simulation"
            class="p-button-text p-button-rounded p-button-plain"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
        </td>
        <td>{{simulation.name}}</td>
        <td>{{simulation.title}}</td>
        <td>{{simulation.groupVolume | number:'1.0-2'}}</td>
        <td>{{simulation.sidePoints | number:'1.0-2'}}</td>
        <td>{{simulation.totalBonus | currency}}</td>
        <td>{{simulation.creationDate | date: 'medium' }}</td>
        <td>{{simulation.lastUpdateDate | date: 'medium'}}</td>
        <td>
          <div class="flex flex-wrap gap-3 justify-content-center">
            <p-button (onClick)="goToDetails(simulation.id)" icon="pi pi-folder" styleClass="p-button-secondary"
              title="Ver miembros"></p-button>
            <p-button (onClick)="deleteSimulation(simulation)" icon="pi pi-trash" title="Eliminar"
              styleClass="p-button-danger"></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-details>
      <tr>
        <td colspan="9">
          <div class="p-3">
            <app-team-points [personalVolume]="details.personalVolume" [groupVolume]="details.groupVolume"
              [title]="details.title" [bonusPercentage]="details.bonusPercentage" [sidePoints]="details.sidePoints"
              [titlePoints]="details.titlePoints"></app-team-points>
            <br />
            <app-monthly-bonuses *ngIf="details.monthlyBonus"
              [monthlyBonus]="details.monthlyBonus"></app-monthly-bonuses>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-details>
      <tr>
        <td colspan="9" style="text-align: center;">
          No hay registros
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<br />

<p-dialog header="Nueva simulación" [(visible)]="visible" [style]="{width: '30vw'}" [modal]="true" [draggable]="false">
  <form [formGroup]="formGroup">
    <div class="card flex flex-wrap gap-3 p-fluid">
      <div class="flex flex-column gap-2">
        <label for="name">Nombre</label>
        <input pInputText id="name" formControlName="name" />
        <label for="team">Copiar de</label>
        <p-dropdown [options]="groupedSimulations" formControlName="team" placeholder="Seleccionar" [group]="true"
          id="team" [filter]="true" appendTo="body"></p-dropdown>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button (click)="addSimulation()" label="Guardar" [disabled]="!formGroup.valid"></p-button>
  </ng-template>

</p-dialog>