<div class="p-4">
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-4">
      <p-card header="Purchases">
        <p class="m-0">
          <b>Personal Volume (PV):</b> {{personalVolume}}
        </p>
      </p-card>
    </div>
  </div>

  <div class="mt-4">
    <app-team-points [groupVolume]="groupVolume" [bonusPercentage]="bonusPercentage" [title]="title"
      [sidePoints]="sidePoints" [titlePoints]="titlePoints"></app-team-points>
  </div>

  <div class="mt-4" *ngIf="monthlyBonusModel">
    <app-monthly-bonuses [monthlyBonus]="monthlyBonusModel" [title]="title"></app-monthly-bonuses>
  </div>
</div>