<br />

<p-card header="Compras y Ventas">
  <p class="m-0">
    <b>Volumen Personal (VP):</b> {{personalVolume}}
  </p>
  <p class="m-0">
    <b>Ganancia:</b> {{revenue | currency}}
  </p>
</p-card>

<br />

<p-card header="Equipo">
  <p class="m-0">
    <b>Volumen Grupal (VG):</b> {{grupalVolume}}
  </p>
  <p class="m-0">
    <b>% Bonificación:</b> {{bonusPercentage}} %
  </p>
  <p class="m-0">
    <b>Título:</b> {{title}}
  </p>
  <p class="m-0">
    <b>Puntos Laterales:</b> {{sidePoints}}
  </p>
  <p class="m-0">
    <b>Puntos de Título:</b> {{titlePoints}}
  </p>
</p-card>

<br />

<app-monthly-bonuses [monthlyBonus]="monthlyBonusModel" *ngIf="monthlyBonusModel"></app-monthly-bonuses>