<p-card header="Team">
  <p class="m-0" *ngIf="personalVolume">
    <b>Personal Volume (PV):</b> {{personalVolume | number:'1.0-2'}}
  </p>
  <p class="m-0">
    <b>Group Volume (GV):</b> {{groupVolume | number:'1.0-2'}}
  </p>
  <p class="m-0">
    <b>Bonus:</b> {{bonusPercentage}} %
  </p>
  <p class="m-0">
    <b>Title:</b> {{title}}
  </p>
  <p class="m-0" *ngIf="sidePoints">
    <b>Side Points:</b> {{sidePoints | number:'1.0-2'}}
  </p>
  <p class="m-0" *ngIf="titlePoints">
    <b>Title Points:</b> {{titlePoints | number:'1.0-2'}}
  </p>
</p-card>