<p-confirmDialog [style]="{width: '30vw'}" rejectButtonStyleClass="p-button-outlined"></p-confirmDialog>
<br />
<div class="flex justify-content-center">
  <p-button (click)="showDialog()" label="Añadir miembro"></p-button>
</div>
<br />
<div class="card">
  <div class="flex flex-column md:flex-row gap-5">
    <div class="flex-auto overflow-x-auto">
      <p-organizationChart [value]="data">
        <ng-template let-node pTemplate="person">
          <div class="flex  flex-wrap gap-3 justify-content-center">
            <button pButton icon="pi pi-folder" (click)="loadDetailsDialog(node)" title="Ver más detalles"
              class="p-button-rounded p-button-secondary p-button-small"></button>
            <button *ngIf="node.data.parentId" pButton icon="pi pi-pencil" (click)="loadEditDialog(node)" title="Editar"
              class="p-button-rounded p-button-small"></button>
            <button *ngIf="node.data.parentId" pButton icon="pi pi-trash" (click)="deleteTeamMember(node)"
              title="Eliminar" class="p-button-rounded p-button-danger p-button-small"></button>
          </div>
          <div class="text-center">
            <div class="font-bold">{{ node.data.name }}</div>
            <div>{{ node.data.title }} {{ node.data.bonification }}%</div>
            <p><b>VP:</b> {{ node.data.pv }}</p>
            <p><b>VG:</b> {{ node.data.gv }}</p>
          </div>
        </ng-template>
      </p-organizationChart>
    </div>
  </div>
</div>

<p-scrollTop></p-scrollTop>

<p-dialog header="{{isEdit ? 'Editar' : 'Nuevo'}} miembro" [(visible)]="visible" [style]="{width: '30vw'}"
  [modal]="true" [draggable]="false">
  <form [formGroup]="formGroup">
    <div class="card flex flex-wrap gap-3 p-fluid">
      <div class="flex flex-column gap-2">
        <label for="name">Nombre</label>
        <input pInputText id="name" formControlName="name" />
        <label for="personalVolume">VP</label>
        <p-inputNumber inputId="personalVolume" formControlName="personalVolume" [min]="0"> </p-inputNumber>
        <label for="parentId">Miembro padre</label>
        <p-dropdown [options]="members" formControlName="parentId" placeholder="Seleccionar" id="parentId"
          [filter]="true" optionValue="id" optionLabel="name" filterBy="name" appendTo="body"></p-dropdown>
      </div>
    </div>
  </form>

  <ng-template pTemplate="footer">
    <p-button (onClick)="isEdit ? editTeamMember() : addTeamMember()" label="Guardar"
      [disabled]="!formGroup.valid"></p-button>
  </ng-template>
</p-dialog>

<p-dialog header="Detalles de {{selectedTreeNode?.data?.name}}" [(visible)]="showDetailsDialog"
  [style]="{width: '30vw'}" [modal]="true" [draggable]="false">
  <div class="card flex flex-wrap gap-3 p-fluid">
    <app-team-points *ngIf="selectedTreeNode" [personalVolume]="selectedTreeNode.data.pv"
      [grupalVolume]="selectedTreeNode.data.gv" [bonusPercentage]="selectedTreeNode.data.bonification"
      [title]="selectedTreeNode.data.title" [sidePoints]="selectedTreeNode.data.sp"
      [titlePoints]="selectedTreeNode.data.tp"></app-team-points>
    <app-monthly-bonuses [monthlyBonus]="monthlyBonusModel" *ngIf="monthlyBonusModel"></app-monthly-bonuses>
  </div>
</p-dialog>